<div class="search">
  <form action="" #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName">
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/img/sun.jpg" *ngIf=" weatherData.main.temp_min > 15">
    <!-- <img src="../assets/img/rain.jpg" *ngIf=" weatherData.main.temp_min <= 15"> -->
    <img src="../assets/img/snow.jpg" *ngIf=" weatherData.main.temp_min <= 3">

    <div class="weather-data">


      <div class="temperature">{{weatherData.main.temp | number: '1.0-0'}}°F</div>
      <div class="location">{{weatherData.name}}</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      <p>More Information</p>

      <div class="line"></div>
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/img/cloud-snow.svg" alt="">
          <div class="info-block-value">
            <span>Min</span>
            <p>{{weatherData.main.temp_min + '°F'}}</p>
          </div>
        </div>

      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/img/sun.svg" alt="">
          <div class="info-block-value">
            <span>Max</span>
            <p>{{weatherData.main.temp_max + '°F'}}</p>
          </div>
        </div>

      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/img/sun-cloud-rain.svg" alt="">
          <div class="info-block-value">
            <span>Humidity</span>
            <p>{{weatherData.main.humidity}}</p>
          </div>
        </div>

      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/img/wind.svg" alt="">
          <div class="info-block-value">
            <span>Wind</span>
            <p>{{weatherData.wind.speed}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="upper-data">
    <img src="../assets/img/sun.jpg" *ngIf="14 > 15">
    <img src="../assets/img/sun.jpg" *ngIf="14 <= 15">

    <div class="weather-data">


      <div class="temperature">{{14.40 | number: '1.0-0'}}°C</div>
      <div class="location">Wellingnton</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      <p>More Information</p>

      <div class="line"></div>
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/img/cloud-snow.svg" alt="">
          <div class="info-block-value">
            <span>Min</span>
            <p>10°C</p>
          </div>
        </div>

      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/img/sun.svg" alt="">
          <div class="info-block-value">
            <span>Max</span>
            <p>10°C</p>
          </div>
        </div>

      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/img/sun-cloud-rain.svg" alt="">
          <div class="info-block-value">
            <span>Humidity</span>
            <p>10°C</p>
          </div>
        </div>

      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/img/wind.svg" alt="">
          <div class="info-block-value">
            <span>Wind</span>
            <p>10°C</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>